<header>
  {{#link-to "tag"}}Tags{{/link-to}}
  {{#link-to "account"}}Accounts{{/link-to}}
</header>

<div class="body">
  <p>This is the body</p>
  {{outlet}}
</div>

<footer>
  <h4>this is a footer</h4>
</footer>